# Ignore all object files
*.o

# Ignore static libraries
*.a

# Ignore exe for Windows
*.exe

# Ignore excecutables
/01-hex2base64/hex2base64
/02-fixedxor/fixedxor

# Ignore *.dSYM directories on macOS
*.dSYM

# Ignore .tup directory
.tup/
